@page
@model MyShop.Pages.Checkout.PaymentModel
@{
}

<div>
    <form method="post">
        @*// payment system here*@
        <button class="button is-success">Create order</button>
    </form>
</div>